<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :param_type %><br />
  <%= f.text_field :param_type %>
</div>

<div class="field">
  <%= f.label :description %><br />
  <%= f.text_field :note %>
</div>