<div>
	<div class="param-field">
	  <%= f.label :name %><br />
	  <%= f.text_field :name %>
	</div>

	<div class="param-field">
	  <%= f.label :param_type %><br />
	  <%= f.text_field :param_type %>
	</div>

	<div class="param-field">
	  <%= f.label :description %><br />
	  <%= f.text_field :note %>
	</div>
</div>
<br />