<h3><%= flash[:notice] %></h3>
<h1>Listing apis</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Version</th>
    <th>Request type</th>
    <th>Api group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apis.each do |api| %>
  <tr>
    <td><%= api.name %></td>
    <td><%= api.url %></td>
    <td><%= api.version %></td>
    <td><%= api.request_type %></td>
    <td><%= api.api_group %></td>
    <td><%= link_to 'Show', api %></td>
    <td><%= link_to 'Edit', edit_api_path(api) %></td>
    <td><%= link_to 'Destroy', api, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
    <tr>
        <th>Parameters</th>
    </tr>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>

  <% api.parameters.each do |p|%>
    <tr>
        <td><%= p.name %></td>
        <td><%= p.param_type %></td>
        <td><%= p.note %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Api', new_api_path %>
<%= link_to 'Generate Api Doc', generate_doc_path %>
<%= link_to 'View API Doc', '/assets/doc/index.html', :target => "_blank"%>
