<h3><%= flash[:notice] %></h3>
<h1>Listing apis</h1><br />
<% @apis.each do |api| %>
    <h3>API Name : <%= api.name %></h3>
    <pre class="prettyprint language-html prettyprinted" data-type="get" style="">
      <code>
        <span class="pln"><strong>URL: </strong><%= api.url %></span><br />
        <span class="pln"><strong>Version: </strong><%= api.version %></span><br />
        <span class="pln"><strong>Request: </strong><%= api.request_type %></span><br />
        <span class="pln"><strong>API Group: </strong><%= api.api_group %></span><br />
        <span class="pln link"><%= link_to 'View Details', project_api_path(@project, api) %> | <%= link_to 'Edit', edit_project_api_path(@project, api) %> | <%= link_to 'Destroy', project_api_path(@project, api), method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </code>
    </pre>
   
<% end %>
<br />
<%= paginate @apis %>

<%= link_to 'New Api', new_project_api_path %>|
<%= link_to 'Generate Api Doc', project_generate_doc_path %>|
<%= link_to 'All Projects', projects_path%>
