<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @api.name %>
</p>

<p>
  <b>Url:</b>
  <%= @api.url %>
</p>

<p>
  <b>Version:</b>
  <%= @api.version %>
</p>

<p>
  <b>Request type:</b>
  <%= @api.request_type %>
</p>

<p>
  <b>Api group:</b>
  <%= @api.api_group %>
</p>


<%= link_to 'Edit', edit_api_path(@api) %> |
<%= link_to 'Back', apis_path %>
